@charset "utf-8";

@font-face {
    font-family: Bull Text;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://static-cosmos.redbull.com/foundation/latest/fonts/v5.001/BullText-Regular.woff2) format("woff2"), url(https://static-cosmos.redbull.com/foundation/latest/fonts/v5.001/BullText-Regular.woff) format("woff")
}

@font-face {
    font-family: Bull Text;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://static-cosmos.redbull.com/foundation/latest/fonts/v5.001/BullText-Medium.woff2) format("woff2"), url(https://static-cosmos.redbull.com/foundation/latest/fonts/v5.001/BullText-Medium.woff) format("woff")
}

@font-face {
    font-family: Bull Text;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://static-cosmos.redbull.com/foundation/latest/fonts/v5.001/BullText-Bold.woff2) format("woff2"), url(https://static-cosmos.redbull.com/foundation/latest/fonts/v5.001/BullText-Bold.woff) format("woff")
}

@font-face {
    font-family: Bull;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://static-cosmos.redbull.com/foundation/latest/fonts/v5.001/Bull-Bold.woff2) format("woff2"), url(https://static-cosmos.redbull.com/foundation/latest/fonts/v5.001/Bull-Bold.woff) format("woff")
}

@font-face {
    font-family: Bull;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://static-cosmos.redbull.com/foundation/latest/fonts/v5.001/Bull-Heavy1.woff2) format("woff2"), url(https://static-cosmos.redbull.com/foundation/latest/fonts/v5.001/Bull-Heavy1.woff) format("woff")
}

@font-face {
    font-family: Bull VF;
    font-style: normal;
    font-weight: 300 800;
    font-display: swap;
    src: url(https://static-cosmos.redbull.com/foundation/latest/fonts/v5.001/BullVAR.woff2) format("woff2-variations"), url(https://static-cosmos.redbull.com/foundation/latest/fonts/v5.001/BullVAR.woff2) format("woff2")
}

@font-face {
    font-family: Noto Sans Japanese;
    src: url(../NotoSansJP.woff2) format("woff2");
    font-display: swap;
}

::selection {
    background-color: rgb(81, 81, 81);
    background-color: rgb(232, 232, 232);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

body {
    margin: 0;
    background-color: rgb(232, 232, 232);
}

.first-img {
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.column {
    position: relative;
    bottom: 12px;
    border-radius: 14px;
    background-color: rgb(232, 232, 232);
}

.main{
    position: relative;
}

.contents {
    width: 800px;
    max-width: 95%;
    margin: 0 auto;
    box-sizing: border-box;
}

.main-icon {
    text-align: center;
}

.main-profile {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    width: 300px;
}

.main-profile-title h2 {
    font-family: Bull VF, Helvetica, sans-serif;
    font-size: 26px;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(2, 0, 51);
}

.main-profile-hashtag h3 {
    font-family: Noto Sans Japanese;
    text-align: center;
    color: rgb(163, 163, 163);
    font-weight: 100;
    font-size: 14px;
    margin: 0 auto;
}

.main-profile-sns {
    display: flex;
    justify-content: space-evenly;
    margin: 30px auto 0 auto;
    width: 150px;
}

.main-profile-sns li {
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50px;
    background-color: rgb(200, 200, 200);
    transition: all .2s;
}

.main-profile-sns li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.main-profile-sns li:hover {
    background-color: rgb(216, 216, 216);
}

.main-content {
    margin-top: 50px;
}

.main-content ul {
    margin: 0 auto;
    width: 280px;
}

.main-content ul li {
    text-align: left;
    margin: 20px 0px;
}

.main-content ul li a:not(#special) {
    display: block;
    background-color: rgb(209, 209, 209);
    padding: 15px 20px;
    border-radius: 6px;
    color: black;
    text-decoration: none;
    transition: all .1s;
    font-family: Noto Sans Japanese;
    font-weight: 500;
    font-size: 18px;
}

.main-content ul li a:not(#special):hover {
    background-color: rgb(195, 195, 195);
}

#special {
    display: block;
    background-color: #db0a40;
    color: white;
    padding: 15px 20px;
    border-radius: 6px;
    text-decoration: none;
    transition: all .1s;
    font-family: Noto Sans Japanese;
    font-weight: 500;
    font-size: 18px;
}

#special:hover {
    background-color: #c00839;
}

.main-title {
    text-align: center;
}

.main-title h2 {
    font-size: 35px;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    position: absolute;
    color: #000000;
    white-space: nowrap;
    font-style: italic;
    font-weight: bold;
    width: 100%;
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

.main-title h2:before {
    content: attr(data-heading);
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    height: 50%;
    color: rgb(232, 232, 232);
    width: 100%;
}

.main-text {
    position: relative;
    top: 50px;
}

.main-text p {
    margin: 0 auto;
    text-align: center;
}

.main-article {
    width: 280px;
    margin: 40px auto auto auto;
    background-color: rgb(246, 246, 246);
    border-radius: 6px;
    font-style: italic;
    box-shadow: inset 8px 11px 70px -50px rgba(0, 0, 0, .3);
    transition: all .3s;
}

.main-article:hover {
    box-shadow: inset -8px -11px 70px -50px rgba(0, 0, 0, .3);
}

.main-article a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.article-title {
    padding: 10px 20px 0px 20px;
}

.article-title h2 {
    margin: 0;
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

.article-date {
    font-size: 14px;
    padding: 8px 20px;
}

@media (min-width: 380px) {
    .smp-br {
        display: none;
    }
}

.copyright {
    width: 150px;
    margin: 0 auto;
    padding: 0px 0px 20px 0px;
    text-align: center;
    font-family: Bull VF, Helvetica, sans-serif;
    font-size: 14px;
    position: relative;
    top: 150px;
}

@media (max-width: 900px) {
    .first-img {
        height: 200px;
        background-position: center 75%;
        background-size: 920px;
        grid-area: image;
    }
}